// out: ../css/main.css, compress:true, strictMath:false

@import "../js/bower_components/bootstrap/less/variables.less";
@import "../js/bower_components/bootstrap/less/mixins.less";

//// Core CSS
@import "../js/bower_components/bootstrap/less/scaffolding.less";
@import "../js/bower_components/bootstrap/less/type.less";
@import "../js/bower_components/bootstrap/less/code.less";
@import "../js/bower_components/bootstrap/less/grid.less";
@import "../js/bower_components/bootstrap/less/tables.less";
@import "../js/bower_components/bootstrap/less/forms.less";
@import "../js/bower_components/bootstrap/less/buttons.less";
@import "../js/bower_components/bootstrap/less/glyphicons.less";

// Utility classes
@import "../js/bower_components/bootstrap/less/utilities.less";
@import "../js/bower_components/bootstrap/less/responsive-utilities.less";

//@import "carousel.less";

/* ==========================================================================
   Variables
   ========================================================================== */

@gradient1: #7F3F80;
@gradient2: #EAEBEB;
@bg-color-light: #ffffff;
@bg-color-light-1: #DCDDDE; 
@bg-color-dark: #85878A;   
//@vibra-color: #D60080;
@vibra-color:#FF00AB;
@cold-color: #02A0A9;    
@green-color: #009EA7;
@color6: #47E9F3;
@deep-blue: #052142;
@navbar-height: 82px;
@navbar-height-mobile: 50px;
@hr-color: #c9c9ca ;
@content-padding-top-bottom:90px;
@item-padding-1:4px;
@item-padding-2:8px;
@item-padding-3:12px;
@item-padding-main:40px;
@content-padding-top:170px;

@screen-xs-max:480px;
@screen-lg-max:1399px;
@screen-xlg:1400px;
@screen-xlg-min:@screen-xlg;
@screen-xlg-max:1799px;
@screen-xxlg:1800px;
@screen-xxlg-min:@screen-xxlg;
@screen-xxlg-max:9999px;
/* ==========================================================================
   WebFonts
   ========================================================================== */

@font-face {   
    font-family: 'Aileron-Regular';
    src: url('fonts/Aileron-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Aileron-Regular.otf') format('opentype'), url('fonts/Aileron-Regular.woff') format('woff'), url('fonts/Aileron-Regular.ttf') format('truetype'), url('fonts/Aileron-Regular.svg#Aileron-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron-Bold';
    src: url('fonts/Aileron-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Aileron-Bold.otf') format('opentype'), url('fonts/Aileron-Bold.woff') format('woff'), url('fonts/Aileron-Bold.ttf') format('truetype'), url('fonts/Aileron-Bold.svg#Aileron-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron-Light';
    src: url('fonts/Aileron-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Aileron-Light.otf') format('opentype'), url('fonts/Aileron-Light.woff') format('woff'), url('fonts/Aileron-Light.ttf') format('truetype'), url('fonts/Aileron-Light.svg#Aileron-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron-UltraLight';
    src: url('fonts/Aileron-UltraLight.eot?#iefix') format('embedded-opentype'), url('fonts/Aileron-UltraLight.otf') format('opentype'), url('fonts/Aileron-UltraLight.woff') format('woff'), url('fonts/Aileron-UltraLight.ttf') format('truetype'), url('fonts/Aileron-UltraLight.svg#Aileron-UltraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Bd';
    src: url('fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeueLTStd-Bd.otf') format('opentype'), url('fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Cn';
    src: url('fonts/HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeueLTStd-Cn.otf') format('opentype'), url('fonts/HelveticaNeueLTStd-Cn.woff') format('woff'), url('fonts/HelveticaNeueLTStd-Cn.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-Cn.svg#HelveticaNeueLTStd-Cn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-MdCn';
    src: url('fonts/HelveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'), url('fonts/HelveticaNeueLTStd-MdCn.otf') format('opentype'), url('fonts/HelveticaNeueLTStd-MdCn.woff') format('woff'), url('fonts/HelveticaNeueLTStd-MdCn.ttf') format('truetype'), url('fonts/HelveticaNeueLTStd-MdCn.svg#HelveticaNeueLTStd-MdCn') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* ==========================================================================
   Helper
   ========================================================================== */


//For editing only
//.main-container { transition:all 0.3s; }


/* ==========================================================================
   Main Layout
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */


ul {
    padding:0;
    margin:0;
}

li { list-style:none; }


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 2px;
    border: 0;
    margin: @item-padding-1 0 @item-padding-2 0;
    padding: 0;
    background-color:@hr-color;
}

.radial-gradient-white-to-light {
    background: -webkit-radial-gradient(@bg-color-light 30%, @bg-color-light-1 100%);
    background: -o-radial-gradient(@bg-color-light 30%, @bg-color-light-1 100%); /* For Opera 11.6-12.0 */
    background: -moz-radial-gradient(@bg-color-light 30%, @bg-color-light-1 100%); /* For Firefox 3.6-15 */
    background: radial-gradient(@bg-color-light 30%, @bg-color-light-1 100%); /* Standard syntax */
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

html,
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Aileron-Regular';
}

.main-container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family:'Aileron-Regular';
}

legend {
    font-family:'Aileron-UltraLight';
    font-size:30px;
    @media screen and(min-width:@screen-sm-min){
        font-size:40px;
    }
    .text-center;
    border-bottom: 2px solid @hr-color;
    
    &.legend-cold {
        color:@cold-color;   
    }
    
    line-height: 1.15em;
    padding-bottom: 4px;
    @media screen and(min-width:@screen-xs-min){
        line-height: 1.448em;
        padding-bottom: 2px;
    }
    
    margin:0 5% 0 5%;
    width: 90%;
    @media screen and(max-width:@screen-sm-min){
        margin: 0 0 0 0;
        width:100%;
    }
    .first-line {
        //line-height:0.5em;   
        //margin-bottom:-20px;
    }
    .next-line {
        color:@vibra-color; 
        display:block;
    } 
}
.legend-container {
    @media screen and(max-width:@screen-sm-min){
        padding-left:@item-padding-3;
        padding-right:@item-padding-3;
    }    
    
    margin-bottom:10px;
    @media screen and(min-width:@screen-sm-min){
        margin-bottom:50px;    
    }
}

.title-assoc { 
    font-size:2.5em;
    line-height:1.3em;
    margin-bottom:0;
}
.title-main {
    font-size:3.0em;   
    line-height:1em;
    color:@vibra-color;
}

.title-small {
    color:@cold-color;  
    font-family:'Aileron-Bold';
}

.help-text {
    color:@cold-color;   
}


.lets-get-started-btn {
    background-image:url(../images/form_letgetstarted_btn.png);   
    background-repeat: no-repeat;
    background-size:cover;
    width:156px;
    height:27px;
    overflow:visible;
    display:inline-block;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    
 
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


header {
    box-sizing: border-box;      
    height: @navbar-height;
    margin: 0 5% 0 5%;
    width: 90%;
    @media screen and(max-width:@screen-md){
        margin: 0 0 0 0;
        width:100%;
    }
    position: absolute;
    top: 0;
    left: 0; 
    z-index: 100;
    font-family: 'HelveticaNeueLTStd-MdCn';
    
    
    
    nav.navbar.navbar-default {
        border-radius:0px;
        border: none;
        background-color: #000;
        width: 100%;
        height: 100%;


        
        .navbar-brand {
            padding:15px 14px 0 14px;
            @media screen and(min-width:@screen-xs){
                padding: 15px 14px 0 14px;     
            }
            
            @media screen and(min-width:@screen-lg){
                padding: 15px 30px 0 30px;     
            }
            height: @navbar-height;
        }
        #navbar {
            @media screen and(max-width:@screen-xs-max){
                border:none;   
            }
        }
        
        .navbar-right.navbar-nav {
            background-color:#000;   
            @media screen and(max-width:@screen-xs-max){
                margin-top:0;   
            }
            
        }
        
        .nav-links.navbar-nav {
            @media screen and(max-width:@screen-xs-max){
                margin-top:0;   
                margin-bottom:0;
            }
            
            @media screen and(min-width:@screen-md-min){
                padding-top:0;
                padding-bottom:0;
            }
            //DCDDDE
            li, li.active {
                a {
                    transition:all 0.3s;
                    
                    background-color: #000;
                    
                    padding-top:10px;
                    padding-bottom:10px;
                    @media screen and(min-width:@screen-sm-min){
                        padding-top:35px;
                        padding-bottom:27px;
                    }
                   
                    padding-left: 8px;
                    padding-right: 8px;
                    @media screen and(min-width:@screen-xs){
                        padding-left: 8px;
                        padding-right: 8px;
                    }
                    @media screen and(min-width:@screen-xs){
                        padding-left: 8px;
                        padding-right: 8px;
                    }
                    
                    @media screen and(min-width:@screen-md){
                        padding-left: 15px;
                        padding-right: 15px;
                    }
                }
            }
            li.active a,
            a:focus,
            a:hover {
                background-color: #000;
                color: #fff;
            }
        }
        a.call-us {
            position: relative;
            
            padding-top:0px;
            @media screen and(min-width:@screen-sm-min){
                padding-top: 20px;
            }
            
            padding-left:10px;
            padding-right:11px;

            @media screen and(min-width:@screen-sm-min){
                padding-left:0px;
                padding-right: 11px;
            }
            @media screen and(min-width:@screen-md-min){
                padding-left: 20px;
                padding-right: 20px;
            }
                

            span {
                position: absolute;
                
                left:50px;
                top:18px;
                
                @media screen and(min-width:@screen-sm-min){
                    left: 40px;
                    top: 37px;
                }  
                @media screen and(min-width:@screen-md-min){
                    left: 60px;
                    top: 37px;
                }
                
                color: #fff;
            }
        }
        
        .social-icon-links {
            width:100%;
            @media screen and(min-width:@screen-sm-min){
                width:114px;
            }
            
            .social-icon-link {
                float:left;
                
                padding-bottom:20px;
                @media screen and(min-width:@screen-sm-min){
                    padding-bottom:0;
                }
                
                padding-top:10px;
                @media screen and(min-width:@screen-sm-min){
                    padding-top: 20px + 10px;
                }
                
                padding-left: @item-padding-2;
                @media screen and(min-width:@screen-sm-min){
                    padding-left: 0px;    
                }
                padding-right: @item-padding-2;
            }
            
        }
    }
}


footer {
    box-sizing:border-box;
    background-color: transparent;
    z-index: 100;
    font-family: 'HelveticaNeueLTStd-MdCn';
    padding-bottom:0px;
    
    height:149px;
    @media screen and(min-width:@screen-sm-min){
        height:109px;
    }

    margin:0 5% 0 5%;
    width: 90%;
    @media screen and(max-width:@screen-sm-min){
        margin: 0 0 0 0;
        width:100%;
    }
    
    @media screen and(max-width:@screen-sm-min){
        padding-left:@item-padding-3;
        padding-right:@item-padding-3;
    }
    
    .social-icon-links {
        li { 
            .pull-right; 
            
            a {
                padding-right:@item-padding-2;   
                
            }
        }
        height:30px;
        
    }
    
    
    .company-info {
        a {
            color:#000;
            &:focus, &:hover {
                color:@link-color;   
            }
        }
        
        address {
            margin-bottom:0px;   
        }
        
        
        
        .company-name, address, .company-contacts {
            @media screen and(min-width:@screen-md-min){
                .pull-left;   
            }
        }
        .company-copy-right {
            display:block;
            @media screen and(min-width:@screen-md-min){
                .pull-right;   
            }
        }
        
        .company-name::after, address::after {
            @media screen and(min-width:@screen-md-min){
                content:'|';   
                padding:0 @item-padding-2; 
                
                &:hover {
                    text-decoration:none;    
                }
            }

        }
    }
    
}
/* ==========================================================================
   Page Layout
   ========================================================================== */
.home-container {
    width:100%;
    height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
    
    .banner {
        background-color:@bg-color-light;
        height:1000px;
        @media screen and(min-width:@screen-xs){
            height:1200px;     
        }
        @media screen and(min-width:580px){
            height:1500px;     
        }
        @media screen and(min-width:@screen-sm){
            height:450px;     
        }
        @media screen and(min-width:@screen-md){
            height:650px;     
        }
        @media screen and(min-width:@screen-lg){
            height:800px;     
        }
        @media screen and(min-width:@screen-xlg){
            height:850px;     
        }
        
        > .banner-page {
            
            &.banner-past-present {
                position:relative;
                background-color:#000;
                height:100%;
                background-image:url(../images/m/home_banner_past_present2.jpg);
                
                
                @media screen and(min-width:@screen-sm-min){
                    background-image:url(../images/home_banner_past_present.jpg);    
                }
                
                background-position:50% 50%;
                background-size:cover;
                @media screen and(min-width:@screen-xs-min){
                    background-position:50% 100%;
                }                

                background-repeat:no-repeat;
                
                .title-only {
                    .hidden-xs;
                    display:none;
                    
                    background-image:url(../images/home_banner_past_present_blank2.png);
                    background-color:#000;
                    
                    background-size:cover;
                    @media screen and(min-width:1262px){
                        background-size:contain;
                    }
                    background-position:50% 0%;
                    background-repeat:no-repeat;
                    position:absolute;
                    bottom:0;
                    left:0;
                    width:100%;
                    height:100px;
                }
            }
        }
        
    }
    
    .our-services {
        background:@bg-color-light-1;
        background:-webkit-radial-gradient(@bg-color-light 30%, @bg-color-light-1 100%);
        padding:@content-padding-top-bottom 0;

        ul {

            @media screen and(max-width:@screen-lg-min){
                width:80%; 
                margin:0 auto;
                margin-top:50px;
            }
            @media screen and(max-width:@screen-xs-max){
                width:95%; 
                margin:0 auto;
                margin-top:50px;
            }

            .make-row();
            li {
                height:170px;
                .make-xs-column(6);
                .make-sm-column(4);
                .make-md-column(4);
                .make-lg-column(2);
                .text-center;

                img {
                    margin-bottom:@item-padding-2;   
                }
                margin-bottom:@item-padding-3;

                div {
                    width:50%;
                    margin:0 auto;
                }
            }
        }
        
    }
    
    .award {
        background-color:@bg-color-light-1;
        
        height:125px;
        @media screen and(min-width:@screen-sm){  
            height:125px;
        }
        
        

        .award-message {
            .pull-left;
            .text-right;

            height:125px;

            box-sizing:border-box;
            padding-right:3%;
            padding-left:3%;
            a {
                color:@deep-blue;
            }
            a:hover{
                text-decoration: none;
                color:@deep-blue;
            }



            color:@deep-blue;
            display:table;
            p {
                display:table-cell;
                vertical-align: middle;
            }

            font-size:1.1em;   
            width:55%;
            @media screen and(min-width:@screen-sm-min){
                font-size:1.6em;   
                width:65%;
                .pull-left;
            }
            @media screen and(min-width:@screen-md-min){
                font-size:1.7em;   
            }
            @media screen and(min-width:@screen-lg-min){
                width:75%;
                font-size:2em;
            }
        }
        img {
            .pull-left;   
            width:130px;
            height:147px;
            @media screen and(min-width:@screen-xs){  
                width:140px;
            }

            @media screen and(min-width:@screen-sm){  
                width:175px;
            }
        }
        
    }
    
    .boost-business {
        background-color:@bg-color-light;
        height:auto;
        
        
        .container {
            > .row {
                .tablets {
                    position:relative;
                    
                    .make-xs-column-offset(3);
                    .make-xs-column(5);
                    top:10px;
                    img {
                        width:55%;   
                        margin:0 auto;
                    }
                    
                    
                    @media screen and(min-width:@screen-xs){
                        top:10px;   
                        img {
                            width:70%;   
                        }
                    }
                    
                    .make-sm-column-offset(0);
                    .make-sm-column(2.5);
                    @media screen and(min-width:@screen-sm){
                        top:10px;   
                        img {
                            width:100%;   
                        }
                    }
                    
                    
                    @media screen and(min-width:@screen-md){
                        top:-20px;    
                    }
                    
                    @media screen and(min-width:@screen-lg){
                        top:-30px;    
                    }
                }
                .message {
                    box-sizing:border-box;
                    .make-xs-column-offset(1);
                    .make-xs-column(10);
                    padding-top:10px;
                    
                    
                    @media screen and(min-width:@screen-xs){
                        padding-top:20px; 
                    }
                    
                    .make-sm-column-offset(0);
                    .make-sm-column(7.5);
                    @media screen and(min-width:@screen-sm){
                        padding-top:100px;  
                    }
                    
                    @media screen and(min-width:@screen-md){
                        padding-top:130px;     
                    }
                    
                    @media screen and(min-width:@screen-lg){
                        padding-top:160px;    
                    }
                }
                .register-now-btn { 
                    padding-top:20px;
                    display:block;
                    
                    .make-xs-column-offset(0);
                    .make-xs-column(12);
                    img {
                        margin:0 auto; 
                        width:19%;   
                    }
                    @media screen and(min-width:@screen-xs){
                        padding-top:20px;
                        img {
                            width:19%; 
                        }
                    }
                    
                    .make-sm-column-offset(0);
                    .make-sm-column(2);
                    @media screen and(min-width:@screen-sm){
                        padding-top:100px;
                        img {
                            width:100%;
                        }
                    }
                    
                    @media screen and(min-width:@screen-md){
                        padding-top:130px;
                        img {
                            width:85%;
                        }
                    }
                    
                    @media screen and(min-width:@screen-lg){
                        padding-top:160px;   
                        img {
                            width:85%;
                        }
                    }
                    
                    
                }
            }
        }
    }
}

.story-container {
    width:100%;
    height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
    .story {

        
        
        
        background:@bg-color-light-1;
        background:-webkit-radial-gradient(@bg-color-light 30%, @bg-color-light-1 100%);
        padding-top:@content-padding-top;
        
        
        padding-bottom:@content-padding-top-bottom;    
        @media screen and(min-width:@screen-xs-min){
            padding-bottom:@content-padding-top-bottom + 50px;
        }
        .message {
            margin:0 auto;
            
            width:100%;
            .text-center;
            @media screen and(min-width:@screen-xs-min){
                width:90%;
                .text-center;    
            }
            
            
            
        }
    }
    
    .feed-your {
        position:relative;
        padding-bottom:@content-padding-top-bottom;
        .container {
            position:relative;   
        }
        .burger-iphone {
            position:absolute;
            
            top:-110px;
            @media screen and(min-width:@screen-xs-min){
                top:-75px;   
            }
            @media screen and(min-width:@screen-sm-min){
                top:-45px;   
            }
            
            background-image:url(../images/story_burger_iphone.png);   
            background-size:contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            height:380px;
            width:100%;
            
        }
        .abcd-feed {
            padding-top:120px;
            @media screen and(min-width:@screen-xs-min){
                padding-top:200px;    
            }
            
            position:relative;
            .abcd {
                width:90%;
                margin:0 auto;
                .clearfix;
                li {
                    float:left;
                    
                    width:100%;
                    @media screen and(min-width:@screen-sm-min){
                        width:50%;    
                    }
                    @media screen and(min-width:@screen-md-min){
                        width:25%;    
                    }
                    .text-center;
                    
                    &.a {
                        padding-bottom:20px;   
                    }
                    
                    
                    &:nth-child(2n) {
                        padding-top:0px;
                        @media screen and(min-width:@screen-sm-min){
                            padding-top:40px;   
                        }
                        
                    }
                }

            }
            .feed-your-let-get-started {
                .text-center;
                overflow:hidden;
                h1 {
                    color:@vibra-color;
                    font-size:3.1em;
                    margin-top:0.8em;
                    margin-bottom:0.7em;
                }
                .lets-get-started-btn {
                    margin:0 auto;
                }
            }
            
        }
    }
}

.services-container {
    width:100%;
    height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
    background:@bg-color-light-1;
    background:-webkit-radial-gradient(@bg-color-light 30%, @bg-color-light-1 100%);    
    
    .services {
        padding-top:@content-padding-top;
        
        .devices, .devices-m {
            background-image:url(../images/services_devices.png);   
            background-repeat: no-repeat;
            background-size:contain;
            background-position:50% 50%;
            height:400px;
            overflow:visible;
        }
        .devices {
            .visible-lg-block;
            .make-lg-column(3.5);
        }
        .devices-m {
            .hidden-lg;
            .make-xs-column(12);
        }
        
        .service-points {
            .make-xs-column-offset(0);
            .make-xs-column(12);
            @media screen and(min-width:@screen-xs-min){
                .make-xs-column(10);
                .make-xs-column-offset(1);
            }
            .make-sm-column(12);
            .make-sm-column-offset(0);
            .make-md-column(10);
            .make-md-column-offset(1);
            .make-lg-column(8.5);
            .make-lg-column-offset(0);
            ul { .make-row(0);
                
                
                li {
                    font-size:0;
                    .make-xs-column(12, 0);
                    .make-sm-column(6, 0);
                    .clearfix;

                    a {
                        width:100%;
                        display:inline-block; vertical-align: middle;
                        padding-top:10px;
                        padding-bottom:10px;
                        
                        .point-thumb {
                            max-width:95px;
                            vertical-align: middle;
                            display:inline-block;
                            width:20%;
                        }
                        .point-content {
                            padding-left:10px;
                            vertical-align: middle;
                            font-size:14px;
                            width:75%;
                            display:inline-block;
                            .point-content-title {
                                color:@green-color;
                                font-size:1.2em;
                            }
                            .point-content-msg {
                                color:#000;
                                font-size:0.85em;
                            }
                        }
                    }
                }
            }
        }
    }
}

.portfolio-container {
    width:100%;
    height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
    background:@bg-color-light-1;
    background:-webkit-radial-gradient(@bg-color-light 30%, @bg-color-light-1 100%);    
    
    
    .portfolio {
        padding-top:@content-padding-top;
        
        .devices {
            position:relative;
            .slider {
                position:relative; 
                z-index:4;
                overflow: hidden;
                width: 600px;
                height: 200px;
                margin: 0 auto;
            }
            .ipad-overlay {
                position:absolute;
                z-index:5;
                top:0;
                left:0;
                width:100%;
                height:100%;
                background-position:50% 50%;
                background-image:url(../images/portfolio_ipad.png);
                background-size:contain;
                background-repeat:no-repeat;
                transform:scale(1.1);
            }
            .slider > div {
                position:absolute;
                left:0;
                top:0;
                float:left; 
            }

            .slider > div.animating {
             -webkit-transition: -webkit-transform 0.3s ease-out; /* Changed here */ 
                 -moz-transition: -moz-transform 0.3s ease-out;
                   -o-transition: -o-transform 0.3s ease-out;
                      transition: transform 0.3s ease-out;
            }
            
            
            max-width:750px;
            width:100%;
            @media screen and(min-width:@screen-xs-min){   
            }
            @media screen and(min-width:@screen-sm-min){ 
            }
            @media screen and(min-width:@screen-md-min){ 
            }
            @media screen and(min-width:@screen-lg-min){ 
            }
            
            margin:0 auto;
        }
        
        .let-your-target {
            margin:0 auto;
            
            
            width:100%;
            max-width:650px;
            .text-center;
            .lets-get-started-btn {
                margin-top:20px;
                margin-bottom:40px;
            }
        }
    }
}

.contact-container {
    width:100%;
    height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
    background:@bg-color-light-1;
    background:-webkit-radial-gradient(@bg-color-light 30%, @bg-color-light-1 100%);
    
    .our-contact {
        padding-top:@content-padding-top;
        
        
        .contact-methods {
            .make-xs-column(12); 
            .make-md-column(7);
            
            .pull-right;
            @media screen and(min-width:@screen-sm-min){
                .pull-left;
            }
            
            .find-us {
                .make-xs-column(12); 
                .make-sm-column(4.5);
                margin:0 auto 20px auto;
                
            }
            .call-follow-us {
                .make-xs-column(12); 
                .make-sm-column(4);
                margin:0 auto 20px auto;
                
                .call-follow-us-inner {
                    @media screen and(min-width:@screen-sm-min) and (max-width:@screen-lg-min){
                        margin-left:19%;   
                    }
                }
                
                .social-icon-links {
                    margin-top:@item-padding-2;
                    li { 
                        .pull-left; 

                        a {
                            padding-right:@item-padding-2;   

                        }
                    }
                    height:30px;

                }
                    
                
            }
            .scan-qr {
                .make-xs-column(12);
                .make-sm-column(3.5);
                margin:0 auto 20px auto;
                padding-right:0px;
                
                .text-left;
                @media screen and(min-width:@screen-sm-min){
                    .text-center;
                }
            }
        }
        .contact-form {
            .make-xs-column(12);  
            .make-md-column(5);
            
            .pull-left;
            @media screen and(min-width:@screen-sm-min){
                .pull-right;
            }
        }
            
        .contact-devices { 
            .visible-lg-block; 
            .visible-md-block; 
            z-index:1;
            position:relative;
            top:-60px;
            left:-30px;
            pointer-events: none;
            img {
                width:95%;   
            }
        }


        
        @media screen and(min-width:@screen-xs){
        }
        @media screen and(min-width:@screen-sm){
        }

        @media screen and(min-width:@screen-md){
        }

        @media screen and(min-width:@screen-lg){
        .call-us {
            li {
                display:inline;
                &:nth-child(1)::after, &:nth-child(3)::after {
                    content:' or ';   
                }
            }
        }
        }
        .contact-form {
            h3 {
                color:@vibra-color;   
                margin-top:0;
            }
            form {
                font-size:0.9em;
                .control-label {.make-md-column(12); .text-left; }  
                .control-label + div { .make-md-column(12); }
                textarea {
                    height:6em;   
                }
                
                .checkbox-group, .radio-group {
                    > div {
                        .make-xs-column(12);
                        .make-sm-column(6);
                        
                        max-width:200px;
                    }
                }
                
                .contact-service-feedback + small{
                    .make-xs-column(12);   
                }
                
                .button-group {
                    > div {

                            display:inline-block;
                            width:auto;
                            .pull-left;
                            margin-right:15px;
                            &:first-child{ margin-left:15px; }
                        
                        .form-btn {
                            background-color:transparent;
                            background-size:contain;   
                            background-repeat:no-repeat;
                            border:none;
                            width:129px * 0.6;
                            height:40px * 0.6;
                            padding:0;
                        }
                        
                        .form-btn[type='reset'] {
                            background-image:url(../images/form_reset_btn.png);
                        }
                        .form-btn[type='submit'] {
                            background-image:url(../images/form_send_btn.png);   
                        }
                    }
                }
            }
        }

    }
}


////////////////////////////////////////////
.mobileapp-container {
    width:100%;
    height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
    background:@bg-color-light-1;
    background:-webkit-radial-gradient(@bg-color-light 30%, @bg-color-light-1 100%);
    
    .mobileapp {
        padding-top:@content-padding-top;
        .container {
            padding-bottom:@content-padding-top-bottom;
            >.row {
                .hand-phone {
                    .make-xs-column(12);
                    .make-sm-column(12);
                    .make-md-column(5.6);
                    .make-lg-column(5.5);
                    
                    img {
                        position:relative;
                        margin-left:auto;
                        margin-right:auto;
                        
                        width:60%;
                        
                        @media screen and(min-width:480px){
                            width:60%; 
                        }  
                        
                        
                        @media screen and(min-width:@screen-sm-min){
                            width:60%; 
                            margin-top:0;
                            margin-left:auto;
                        }   
                        
                        @media screen and(min-width:@screen-md-min){
                            width:100%;
                            margin-top:-4%;
                            margin-left:10%;
                        }                        
                        @media screen and(min-width:@screen-lg-min){
                            width:100%;
                            margin-top:-8%;
                            margin-left:10%;
                        }
                    }
                }
                
                .message {
                    .make-xs-column(12);
                    .make-sm-column(12);
                    .make-md-column(6.4);
                    .make-lg-column(6.5);
                    h3 { color:@green-color; }
                    ul {
                        .make-row(0);
                        
                        li {
                            max-width:140px;
                            @media screen and(max-width:@screen-xs-max){
                                width:33%;   
                            }
                            .make-xs-column(2.4, 0);
                            
                            padding-bottom:10px;
                            padding-right:10px;
                        }
                    }
                }
                .btn-row {
                    .btn-col {
                        .make-xs-column(12, 0);   
                    }
                }
                .lets-get-started-btn {
                    margin-top:2em;   
                }
            }
        }
    }
}

.ar-container {
    width:100%;
    height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
    
    .ar {
        padding-top:@content-padding-top;
        background:@bg-color-light-1;
        background:-webkit-radial-gradient(@bg-color-light 30%, @bg-color-light-1 100%);   
        .message-desc {        
            
            padding-bottom:@content-padding-top-bottom/2;
            @media screen and(min-width:@screen-md-min){
                padding-bottom:@content-padding-top-bottom;    
            }
            
            >.row {
                .hand-phone {
                    .make-xs-column(12);
                    .make-sm-column(12);
                    .make-md-column(6);
                    .make-lg-column(6);
                    
                    img {
                        position:relative;
                        margin-left:auto;
                        margin-right:auto;
                        
                        width:60%;
                        
                        @media screen and(min-width:480px){
                            width:60%; 
                        }  
                        
                        
                        @media screen and(min-width:@screen-sm-min){
                            width:60%; 
                            margin-top:0;
                            margin-left:auto;
                        }   
                        
                        @media screen and(min-width:@screen-md-min){
                            width:100%;
//                            margin-top:-4%;
//                            margin-left:10%;
                        }                        
                        @media screen and(min-width:@screen-lg-min){
                            width:100%;
//                            margin-top:-8%;
//                            margin-left:10%;
                        }
                    }
                }
                
                .message {
                    .make-xs-column(12);
                    .make-sm-column(12);
                    .make-md-column(6);
                    .make-lg-column(6);
                    h3 { color:@green-color; }
                    ul {
                        .make-row(0);
                        
                        li {
                            font-size:1.1em;
                            color:@green-color;
                        }
                    }
                }
                .btn-row {
                    .btn-col {
                        .make-xs-column(12, 0);   
                    }
                }
                .lets-get-started-btn {
                    margin-top:2em;   
                }
            }
        }
        
        
    }
    
    .video-showcase {
            padding-top:@content-padding-top-bottom/2;
            @media screen and(min-width:@screen-md-min){
                padding-top:@content-padding-top-bottom;    
            }
        
        margin:0 auto;
        max-width:800px;
        padding-bottom:@content-padding-top-bottom;
    }
}

.prosales-container {
    width:100%;
    height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
    
    .prosales {
        padding-top:@content-padding-top;
        background:@bg-color-light-1;
        background:-webkit-radial-gradient(@bg-color-light 30%, @bg-color-light-1 100%);   
        .message-desc {        
            
            padding-bottom:@content-padding-top-bottom/2;
            @media screen and(min-width:@screen-md-min){
                padding-bottom:@content-padding-top-bottom;    
            }
            
            >.row {
                
                .hand-phone {
                    .make-xs-column(12);
                    .make-sm-column(12);
                    .make-md-column(4.5);
                    .make-md-column-offset(1);
                    .make-lg-column(4.5);
                    .make-lg-column-offset(1);
                    
                    img {
                        position:relative;
                        margin-left:auto;
                        margin-right:auto;
                        
                        width:60%;
                        
                        @media screen and(min-width:480px){
                            width:50%; 
                        }  
                        
                        
                        @media screen and(min-width:@screen-sm-min){
                            width:60%; 
                            margin-top:0;
                            margin-left:auto;
                        }   
                        
                        @media screen and(min-width:@screen-md-min){
                            width:80%;
//                            margin-top:-4%;
//                            margin-left:10%;
                        }                        
                        @media screen and(min-width:@screen-lg-min){
                            width:100%;
//                            margin-top:-8%;
//                            margin-left:10%;
                        }
                    }
                }
                
                .message {
                    .make-xs-column(12);
                    .make-sm-column(12);
                    .make-md-column(6);
                    .make-lg-column(6);
                    h3 { color:@green-color; }
                    ul {
                        .make-row(0);
                        
                        margin-left:0%;
                        width:50%;
                        
                        @media screen and(min-width:@screen-xs-min){
                            margin-left:5%;
                            width:90%;
                        }
                        
                        @media screen and(min-width:@screen-sm-min){
                            margin-left:17%;
                            width:70%;
                        }
                        @media screen and(min-width:@screen-md-min){
                            width:80%;   
                            margin-left:0%;
                        }
                        
                        @media screen and(min-width:@screen-lg-min){
                            width:70%;   
                            
                        }
                        margin-top:7%;
                        li {
                            .make-xs-column(12, 0);
                            @media screen and(min-width:@screen-xs-min){
                                .make-xs-column(6, 0);
                            }
                            padding-right:15%;
                        }
                    }
                }
                .btn-row {
                    .btn-col {
                        .make-xs-column(12, 0);   
                    }
                }
                .lets-get-started-btn {
                    display:none;
                    margin-top:2em;   
                }
            }
        }
        
        
    }
    
    .test-drive-prosales {
        
        height:90px;
        background-color:@green-color;
    }
    
    .video-showcase {
        margin:0 auto;
        max-width:800px;
        padding-bottom:@content-padding-top-bottom;
    }
}



